* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
}

@media only screen and (max-width: 767px){

}

@media only screen and (min-width: 767px) {
    #navBar {
        width: 100%;
        height: 10vh;
        background-color: #35530a;
        display: table;
    }

    #main-title {
        display: table-cell;
        vertical-align: middle;
        padding-inline-start: 2.2vw;
        font-size: 1.6rem;
        min-width: 50vw;
        font-family: raleway_semibold;
        color: #f9f9f9;
    }
    
    #navBarItems {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 2.2vw;
    }

    #navBarItem {
        padding-inline: 0.8vw;
        color: #f9f9f9;
        text-decoration: none;
    }

    #banner {
        background-image: url(img/banner-photo.png);
        background-size: 100% 110%;
        width: 100%;
        height: 40vh;
        display: table;
    }

    #banner-list {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 3vw;
        line-height: 180%;
        font-size: 1.2rem;
        font-family: raleway_light;
    }

    #banner-list-title {
        line-height: 250%;
    }

    #text-area {
        width: 100%;
        height: 40vh;
        display: table;
        table-layout: fixed;
    }

    #left-text {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 5vw;
        line-height: 150%;
        font-size: 1.2rem;
        font-family: raleway_light;
        width: 45%;
    }

    #kaisa-photo {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 7vw;
        width: 50%;
        object-position: center;
    }

    #footer {
        display: table;
        width: 100%;
        height: 10vh;
        background-color: #35530a;
        font-family: raleway_light;
    }

    #footer-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding-block-end: 2vh;
        font-size: 1rem;
        color: #f9f9f9;
    }

    #footer-title {
        line-height: 250%;
        font-family: raleway_semibold;
        font-size: 1.2rem;
    }

    /* About page */

    #info-area {
        display: table;
        width: 100%;
    }

    #prop-photo {
        display: table-cell;
        vertical-align: middle;
        float: left;
        width: 50%;
        padding-inline-start: 5.8vw;
        padding-bottom: 11vh;
    }

    #header {
        display: table-cell;
        width: 39%;
        text-align: center;
        float: right;
        padding-inline-end: 5vw;
        padding-block-start: 5vh;
    }

    #about-title {
        font-size: 2.8rem;
        font-family: 'raleway_semibold';
    }

    #about-text-1 {
        line-height: 200%;
        font-family: 'raleway_light';
        padding-block-start: 4vh;
        font-size: 0.9rem;
    }

    /* Pricing page */

    #title-text {
        font-size: 2.2rem;
        font-family: 'raleway_semibold';
        text-align: center;
        padding-block-start: 3vh;
    }

    #box-table {
        width: 100%;
        padding-inline: 1vw;
        border-spacing: 2vw;
        padding-block-start: 2vh;
    }

    #box {
        background-color: #35530a;
        color: #f9f9f9;
        width: 25%;
        vertical-align: top;
    }

    #box-title {
        width: 100%;
        height: 10%;
        font-family: 'raleway_semibold';
        padding-block-start: 1.5vh;
        font-size: 1.2rem;
    }

    #info {
        display: table;
        width: 100%;
        line-height: 150%;
        padding-block-start: 1vh;
    }

    #box-left {
        float: left;
        font-family: 'raleway_light';
        font-size: 1.2rem;
    }

    #box-right {
        float: right;
        font-family: 'raleway_light';
        font-size: 1.2rem;  
    }
}

@media only screen and (min-width: 1023px) {

    /* Navigation bar */

    #navBar {
        width: 100%;
        height: 14vh;
        background-color: #35530a;
        display: table;
    }

    #main-title {
        display: table-cell;
        vertical-align: middle;
        padding-inline-start: 2vw;
        font-size: 1.9rem;
        min-width: 50vw;
        font-family: raleway_semibold;
        color: #f9f9f9;
    }
    
    #navBarItems {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 2vw;
    }

    #navBarItem {
        padding-inline: 0.8vw;
        color: #f9f9f9;
        text-decoration: none;
        font-size: 1.1rem;
    }

    /* Main page */

    #banner {
        background-image: url(img/banner-photo.webp);
        background-size: 100% 120%;
        width: 100%;
        height: 70vh;
        display: table;
    }

    #banner-list {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 3vw;
        line-height: 180%;
        font-size: 1.4rem;
        font-family: raleway_light;
    }

    #banner-list-title {
        line-height: 250%;
    }

    #text-area {
        width: 100%;
        height: 80vh;
        display: table;
        table-layout: fixed;
    }

    #left-text {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 4vw;
        line-height: 150%;
        font-size: 1.7rem;
        font-family: raleway_light;
        width: 45%;
    }

    #kaisa-photo {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 10vw;
        object-position: center;
    }

    #footer {
        display: table;
        width: 100%;
        height: 14vh;
        background-color: #35530a;
        font-family: raleway_light;
    }

    #footer-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 1.rem;
        color: #f9f9f9;
    }

    #footer-title {
        line-height: 250%;
        font-family: raleway_semibold;
        font-size: 1.3rem;
    }

    /* About page */

    #info-area {
        display: table;
        width: 100%;
    }

    #prop-photo {
        display: table-cell;
        float: left;
        width: 35%;
        padding-inline-start: 5.8vw;
        padding-block-start: 7.8vh;
    }

    #header {
        display: table-cell;
        width: 50%;
        float: right;
        padding-inline-end: 5vw;
        padding-block-start: 5vh;
    }

    #about-title {
        text-align: center;
        font-size: 3.5rem;
        font-family: 'raleway_semibold';
    }

    #about-text {
        width: 50vw;
        line-height: 180%;
        font-family: 'raleway_light';
        padding-block-start: 5vh;
        font-size: 1.1rem;
    }

    /* Pricing page */

    #title-text {
        font-size: 2.2rem;
        font-family: 'raleway_semibold';
        text-align: center;
        padding-block-start: 3vh;
    }

    #box-table {
        width: 100%;
        padding-inline: 1vw;
        border-spacing: 2vw;
    }

    #box {
        background-color: #35530a;
        color: #f9f9f9;
        width: 25%;
        vertical-align: top;
    }

    #box-title {
        width: 100%;
        height: 10%;
        font-family: 'raleway_semibold';
        padding-block-start: 2vh;
        font-size: 1.2rem;
    }

    #info {
        display: table;
        width: 100%;
        line-height: 80%;
    }

    #box-left {
        float: left;
        font-family: 'raleway_light';
        font-size: 1.5rem;
    }

    #box-right {
        float: right;
        font-family: 'raleway_light';
        font-size: 1.5rem;  
    }
}

@media only screen and (min-width: 1439px) {
    #navBar {
        width: 100%;
        height: 12vh;
        background-color: #35530a;
        display: table;
    }

    #main-title {
        display: table-cell;
        vertical-align: middle;
        padding-inline-start: 2vw;
        font-size: 2rem;
        min-width: 50vw;
        font-family: raleway_semibold;
        color: #f9f9f9;
    }
    
    #navBarItems {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 2vw;
    }

    #navBarItem {
        padding-inline: 0.8vw;
        color: #f9f9f9;
        text-decoration: none;
        font-size: 1.2rem;
    }

    #banner {
        background-image: url(img/banner-photo.png);
        background-size: 100% 120%;
        width: 100%;
        height: 60vh;
        display: table;
    }

    #banner-list {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 3vw;
        line-height: 180%;
        font-size: 1.7rem;
        font-family: raleway_light;
    }

    #banner-list-title {
        line-height: 250%;
    }

    #text-area {
        background-color: #f9f9f9;
        width: 100%;
        height: 60vh;
        display: table;
        table-layout: fixed;
    }

    #left-text {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 4vw;
        line-height: 150%;
        font-size: 1.8rem;
        font-family: raleway_light;
        width: 45%;
    }

    #kaisa-photo {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 10vw;
        object-position: center;
    }

    #footer {
        display: table;
        width: 100%;
        height: 10vh;
        background-color: #35530a;
        font-family: raleway_light;
    }

    #footer-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;
        color: #f9f9f9;
    }

    #footer-title {
        line-height: 250%;
        font-family: 'raleway_semibold';
        font-size: 1.2rem;
    }

    /* Pricing page */

    #title-text {
        font-size: 2.2rem;
        font-family: 'raleway_semibold';
        text-align: center;
        padding-block-start: 3vh;
    }

    #box-table {
        width: 100%;
        padding-inline: 1vw;
        border-spacing: 2vw;
    }

    #box {
        background-color: #35530a;
        color: #f9f9f9;
        width: 25%;
        vertical-align: top;
    }

    #box-title {
        width: 100%;
        height: 10%;
        font-family: 'raleway_semibold';
        padding-block-start: 2vh;
        font-size: 1.2rem;
    }

    #info {
        display: table;
        width: 100%;
        line-height: 80%;
    }

    #box-left {
        float: left;
        font-family: 'raleway_light';
        font-size: 1.5rem;
    }

    #box-right {
        float: right;
        font-family: 'raleway_light';
        font-size: 1.5rem;  
    }
}

@media only screen and (min-width: 1919px) {
    #navBar {
        width: 100%;
        height: 14vh;
        background-color: #35530a;
        display: table;
    }

    #main-title {
        display: table-cell;
        vertical-align: middle;
        padding-inline-start: 2vw;
        font-size: 2.4rem;
        min-width: 50vw;
        font-family: raleway_semibold;
        color: #f9f9f9;
    }
    
    #navBarItems {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 2vw;
    }

    #navBarItem {
        padding-inline: 0.8vw;
        color: #f9f9f9;
        text-decoration: none;
        font-size: 1.5rem;
    }

    #banner {
        background-image: url(img/banner-photo.png);
        background-size: 100% 120%;
        width: 100%;
        height: 60vh;
        display: table;
    }

    #banner-list {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 3vw;
        line-height: 180%;
        font-size: 2.2rem;
        font-family: raleway_light;
    }

    #banner-list-title {
        line-height: 250%;
    }

    #text-area {
        background-color: #f9f9f9;
        width: 100%;
        height: 50vh;
        display: table;
        table-layout: fixed;
    }

    #left-text {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-inline-start: 4vw;
        line-height: 150%;
        font-size: 2.3rem;
        font-family: raleway_light;
        width: 45%;
    }

    #kaisa-photo {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        padding-inline-end: 10vw;
        object-position: center;
    }

    #footer {
        display: table;
        width: 100%;
        height: 14vh;
        background-color: #35530a;
        font-family: raleway_light;
    }

    #footer-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 1.4rem;
        color: #f9f9f9;
    }

    #footer-title {
        line-height: 250%;
        font-family: raleway_semibold;
        font-size: 1.8rem;
    }
}

/* Fonts */

@font-face {
    font-family: 'raleway_light';
    src: url('fonts/raleway_font/static/Raleway-Light.ttf');
}

@font-face {
    font-family: 'raleway_semibold';
    src: url('/fonts/raleway_font/static/Raleway-SemiBold.ttf');
}